.brandLogoImg {
	width: auto;
	height: 90px;
}
.footer {
	width: 100%;

	background-color: var(--electric-blue);
}
.footerBottom {
	background-color: var(--border-color-white);
}
.itemLink {
	color: var(--sky-mist);
	font-size: 14px;
}
.contentText {
	text-align: center;
	color: var(--soft-serenity);
	font-weight: 400;
	font-size: 14px;
}
.items {
	padding: 20px;
	background-color: var(--bottom-bar-1);
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.content {
	padding: 20px;
	background-color: var(--ultramarine-blue);
}
.fontWightSm {
	font-size: 15px;
	font-weight: 600;
	color: var(--dark);
}
.addressText,
.contactText {
	font-size: 14px;
	color: var(--canvas-pure);
}
.addressBoldText {
	font-size: 14px;
	font-weight: 800;
	color: var(--canvas-pure);
}
.fontWightSmColor {
	color: var(--primary-blue);
	font-size: 14px;
}
.fontWightMd {
	font-size: 16px;
	color: var(--dark);
	font-weight: 700;
}
.desktop {
	display: block;
}
.mobile {
	display: none;
}
.footerContent {
	display: flex;
	padding: 20px 40px;
	gap: 20px;
	border-top: 2px solid var(--border-color-white);
}
.left {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-right: 2px solid var(--border-color-white);
	gap: 15px;
	padding-right: 10px;
}
.right {
	flex: 1;
}
.fontAddress0 {
	padding: 20px 0px;
}
.socialMedia {
	display: flex;
	gap: 15px;
	justify-content: space-around;
	padding: 10px 0px;
}
.socialMediaIcons {
	width: 35px;
	height: 35px;
}
.contact {
	display: flex;
	gap: 10px;
	padding: 0px 10px;
}
.leftRight {
	display: flex;
	padding-bottom: 10px;
}

.details {
	font-size: 14px;
	color: var(--stone-gray);
	text-align: justify;
	font-weight: normal;
}
.leftContent {
	flex: 1;
	display: flex;
	justify-content: space-around;
	gap: 10px;
	padding-right: 10px;
	border-right: 2px solid var(--border-color-white);
}
.licenseName,
.licenseNumber {
	font-size: 15px;
	font-weight: 100;
	color: var(--canvas-pure);
}
.rightRight {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 20px;
	gap: 10px;
	flex: 0.3;
}
.rightBottom {
	display: flex;
	padding-top: 10px;
	gap: 10px;
	justify-content: space-between;
	border-top: 2px solid var(--border-color-white);
}
.certification {
	display: flex;
	align-items: center;
	gap: 10px;
	flex: 1;
}
.announcementMain {
	display: none;
}
.fontWight {
	color: var(--primary-dark);
	font-weight: 600;
	font-size: 15px;
}
.contentDiv {
	flex: 1; /* Allow items to grow and fill the available space */
	padding: 20px;
	position: relative; /* Needed for absolutely positioning the border */
	display: flex;
	flex-direction: column;
	gap: 10;
	gap: 20px;
}

.contentDiv:not(:last-child)::after {
	content: ''; /* Creates a pseudo-element */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 1px; /* Width of the border line */
	background-color: var(--border-color-white); /* Color of the border line */
	transform: translateX(50%); /* Center the border line */
}
.instituteDis,
.licenseLabel {
	color: var(--canvas-pure);
	font-weight: 700;
	font-size: 20px;
}
.logoContent {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.breakLine {
	display: block;
	height: 0px;
}

.numberDiv {
	display: flex;
	gap: 10px;
	flex-direction: column;
	justify-content: space-between;
}
.numbereflexbox {
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex: 1;
}
.logo {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 0 10px;
	gap: 15px;
}
.certificationLinks {
	flex: 1;
	display: flex;
	align-items: center;
	gap: 10px;
}
.brandName {
	font-size: 19px;
	color: var(--primary-dark);
	font-weight: 800;
}

.firstGroupCertification {
	display: flex;
	gap: 10px;
}

.certificationContainer {
	display: flex;
	gap: 20px;
	justify-content: space-around;
	padding: 10px 0px;
}
.certificationContainerFirst {
	display: flex;
	gap: 20px;
	justify-content: space-around;
	padding: 20px 0px;
	border-top: 2px solid var(--border-color-white);
}
.firstGroupCertificationDiv {
	flex: 0.5;
}
.secondGroupCertificationDiv {
	display: flex;
	flex: 1;
	gap: 20px;
}
.certificationImgDiv {
	position: relative;
	flex: 0.15;
	display: flex;
	align-items: end;
	justify-content: end;
}
.licenseLabel {
	margin: 0 0;
}
.firstGroupCertification > div {
	flex-direction: row-reverse;
	justify-content: space-between;
	padding-right: 40px;
}
/* media query */

@media screen and (min-width: 1025px) and (max-width: 1300px) {
	.certificationContainer {
		flex-direction: column;
	}
	.certificationContainerFirst {
		flex-direction: column;
	}
	.firstGroupCertificationDiv {
		margin: 10px 0;
		border-radius: 10px;
		border: 2px solid #cfd7ff;
	}
	.secondGroupCertificationDiv {
		display: flex;
	}
}

@media (max-width: 1024px) and (min-width: 700px) {
	.certificationContainer {
		flex-direction: column;
	}
	.certificationContainerFirst {
		flex-direction: column;
		border: none;
		padding: 20px 0px;
	}
	.firstGroupCertificationDiv {
		margin: 10px 0;
		border-radius: 10px;
		border: 2px solid #cfd7ff;
	}
	.secondGroupCertificationDiv {
		display: flex;
	}
	.footer {
		position: relative;
	}
	.brandLogoImg {
		width: auto;
		height: 82px;
	}
	.items {
		padding: 15px;
	}
	.content {
		padding: 15px;
	}

	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
	.fontWightSm {
		font-size: 14px;
		color: var(--secondary-text);
	}
	.breakLine {
		display: none;
	}
	.fontWightMd {
		font-size: 10px;
	}
	.left {
		flex-direction: row;
		border: none;
		padding: 10px 0px;
	}
	.logo {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		text-align: center;
	}
	.logoContent {
		display: flex;
		flex: 1;
		gap: 0;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		padding-left: 10px;
		border-left: 2px solid var(--border-color-white);
	}
	.footerContent {
		display: block;
		padding: 0 40px;
	}
	.certificationImg {
		position: absolute;
		top: -40px;
		width: 80px;
		height: 80px;
	}
	.right {
		display: flex;
		padding: 10px 0px;
		flex-direction: column;
		border-top: 2px solid var(--border-color-white);
	}
	.leftContent {
		display: flex;
		padding: 10px 0px;
		border: none;
		border-top: 2px solid var(--border-color-white);
	}
	.announcementHead {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 10px;
		border-top: 2px solid var(--border-color-white);
		border-bottom: 2px solid var(--border-color-white);
	}

	.announcementCertification {
		display: flex;
		padding: 10px 0px;
	}
	.announcementHeadPhara {
		color: var(--primary-blue);
		font-size: 14px;
	}
	.announcementMain {
		display: block;
	}
	.announcement {
		margin: 10px 0;
		border-radius: 10px;
		border: 2px solid #cfd7ff;
	}
	.announcemetDiv {
		padding: 10px;
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: center;
	}
	.announcementText {
		color: var(--primary-blue);
		margin: auto 0;
		font-size: 14px;
	}

	.rightBottom {
		display: none;
	}
	.contact {
		display: flex;
		padding: 10px 0px;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}
	.rightRight {
		flex-direction: row;
		flex: 1;
		padding-bottom: 10px;
	}
	.rightHeading {
		display: flex;
		align-items: center;
		flex: 0.1;
		padding-right: 15px;
		border-right: 2px solid var(--border-color-white);
	}
	.numberDiv {
		display: grid;
		grid-template-columns: auto auto;
		flex: 1;
		gap: 10px;
		align-items: center;
		border-left: 2px solid var(--border-color-white);
		padding-left: 10px;
	}
	.number {
		color: #616161;
	}
	.leftRight {
		display: flex;
		flex-direction: column-reverse;
	}
	.brandName {
		color: var(--dark);
	}
}
@media screen and (max-width: 699px) {
	.certificationContainer {
		flex-direction: column;
	}
	.firstGroupCertificationDiv {
		border-radius: 10px;
		border: 2px solid #cfd7ff;
	}
	.certificationContainerFirst {
		flex-direction: column;
		border: none;
		padding: 20px 0px;
	}
	.firstGroupCertification > div {
		flex-direction: row;
		justify-content: start;
		padding-right: 40px;
	}
	.certification {
		border-radius: 10px;
		border: 2px solid #cfd7ff;
		padding: 4px 0;
	}
	.secondGroupCertificationDiv {
		flex-direction: column;
	}
	.licenseName,
	.licenseNumber {
		font-size: 11px;
	}
	.socialMediaIcons {
		width: 28px;
		height: 28px;
	}
	.footerContent {
		display: block;
		padding: 10px 20px;
	}
	.addressText,
	.contactText,
	.addressBoldText {
		font-size: 10px;
	}
	.instituteDis,
	.licenseLabel {
		font-size: 14px;
	}
	.brandName {
		font-size: 16px;
	}
	.footer {
		position: relative;
	}
	.itemLink,
	.contentText {
		font-size: 12px;
	}
	.details {
		font-size: 12px;
	}
	.brandLogoImg {
		width: auto;
		height: 55px;
	}
	.items {
		padding: 15px;
	}
	.content {
		padding: 15px;
	}
	.fontWightSmColor {
		font-size: 12px;
	}
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
	.fontWightSm {
		font-size: 14px;
		color: var(--secondary-text);
	}
	.breakLine {
		display: none;
	}
	.fontWightMd {
		font-size: 10px;
	}
	.left {
		flex-direction: row;
		border: none;
		padding: 10px 0px;
	}
	/* .certificationIcons{
    width: 50px;
    height: 50px;
  } */
	.logo {
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		text-align: center;
	}
	.logoContent {
		display: flex;
		flex: 1;
		gap: 0;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: start;
		padding-left: 10px;
		border-left: 2px solid var(--border-color-white);
	}
	.footerContent {
		display: block;
		padding: 0 40px;
	}
	.certificationImg {
		position: absolute;
		top: -40px;
		width: 80px;
		height: 80px;
	}
	.right {
		display: flex;
		padding: 10px 0px;
		flex-direction: column;
		border-top: 2px solid var(--border-color-white);
	}
	.leftContent {
		display: flex;
		padding: 10px 0px;
		border: none;
		border-top: 2px solid var(--border-color-white);
	}
	.announcementHead {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 10px;
		border-top: 2px solid var(--border-color-white);
		border-bottom: 2px solid var(--border-color-white);
	}

	.announcementCertification {
		display: flex;
		padding: 10px 0px;
	}
	.announcementHeadPhara {
		color: var(--primary-blue);
		font-size: 11px;
	}
	.announcementMain {
		display: block;
	}
	.announcement {
		margin: 10px 0;
		border-radius: 10px;
		border: 2px solid #cfd7ff;
	}
	.announcemetDiv {
		padding: 10px;
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: center;
	}
	.announcementText {
		color: var(--primary-blue);
		margin: auto 0;
		font-size: 14px;
	}

	.rightBottom {
		display: none;
	}
	.contact {
		display: flex;
		padding: 0px;
		flex-direction: column;
		align-items: start;
		gap: 10px;
	}
	.rightRight {
		flex-direction: row;
		flex: 1;
		padding-bottom: 10px;
		padding-left: 0px;
	}
	.rightHeading {
		display: flex;
		align-items: center;
		flex: 0.1;
		padding-right: 15px;
		border-right: 2px solid var(--border-color-white);
	}
	.numberDiv {
		display: grid;
		grid-template-columns: auto auto;
		flex: 1;
		gap: 10px;
		align-items: center;
		border-left: 2px solid var(--border-color-white);
		padding-left: 10px;
	}
	.number {
		color: #616161;
	}
	.leftRight {
		display: flex;
		flex-direction: column-reverse;
	}
	.brandName {
		color: var(--dark);
	}
	.certificationLinks {
		padding-right: 10px;
	}
}
@media screen and (max-width: 425px) {
	.numberDiv {
		grid-template-columns: auto;
	}
	.footerContent {
		padding: 0 20px;
	}
}
@media screen and (max-width: 400px) {
	.socialMediaIcons {
		width: 24px;
		height: 24px;
	}
	.contactDiv {
		margin: 0;
	}
	.left {
		gap: 0;
	}
	.contact {
		gap: 5px;
		padding: 0;
	}
}
