.head {
	display: flex;
	background-color: var(--dark);
	padding: 0px 40px;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	border-bottom: 1px solid var(--border-color);
}
.hamburgerIcon {
	display: none;
}
.list {
	display: flex;
	flex: 1;
	justify-content: space-around;
	overflow-x: auto;
	white-space: nowrap;
	scrollbar-width: none;
}
.list::-webkit-scrollbar {
	display: none;
}
.float {
	flex: 1;
}
.contact {
	display: flex;
	gap: 10px;
	align-items: center;
}
.contactText {
	color: var(--active-color);
}
.right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 15px;
}
.left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 15px;
}
.accessDiv {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}
.btn {
	padding: 10px 32px;
	margin: auto;
	border-radius: 10px;
	background-color: white;
	font-size: 15px;
	color: var(--primary-dark);
	font-weight: 600;
}
.accessText {
	color: var(--faded-blue);
	font-size: 14px;
}
.mainLogo {
	width: 160px;
	height: 70px;
}

/* Media query for screens with a maximum width of 768px */

@media screen and (min-width: 2000px) {
	.right {
		gap: 30px;
	}
	.left {
		gap: 30px;
	}
}

@media (max-width: 768px) and (min-width: 426px) {
	.accessText {
		font-size: 12px;
	}
	.float {
		display: none;
	}
	.mobile {
		display: block;
	}
	.head {
		gap: 0;
		padding: 20px 40px;
	}
	.left {
		gap: 20px;
	}
}
@media screen and (max-width: 425px) {
	.head {
		padding: 0 20px;
	}
}
@media screen and (max-width: 700px) {
	.btn {
		display: none;
	}
	.accessText {
		font-size: 12px;
	}
	.float {
		display: none;
	}
	.mobile {
		display: block;
	}

	.left {
		gap: 20px;
	}
}
