.container{
    /* height: 100vh; */

}
.containerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    gap: 40px;
}
.left
{
    display: flex;
    align-items: center;
    flex: 0.5;
}
.right,.center{
    flex: 1;
}

.headingDiv{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 200px;
    z-index: 1;
}
.heading{
    font-size: 36px;
    color: var(--light-green);
    font-style: normal;
    font-weight: 500;
}
.centerContent{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: normal;
}
.plus{
    display: flex;
    justify-content: end;
    position: relative;
    top: -20px;
}
.plusImgDiv{
    position: absolute;
}
.circle
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #CAFFDF;
    position: relative;
    left: 100px;
}

.flexBoxInside{
    display: flex;
    flex-direction: column;
}
.flexboxImages{
    width: 100%;
    height: 100%;
}
.plus_horizontal_line{
    width: 200px;
    height: 50px;
    background-color: var(--light-green);
}
.plus_vertical_line{
    width: 200px;
    height: 50px;
    background-color: var(--light-green);
}

.grid_container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px 20px;   
  }
  
  .grid_container > div {
    text-align: center;
    padding: 100px 0;
    font-size: 30px;
  }
  
  .item1 {
    grid-row: 1 / 4;
    background-color: #D9D9D9;
  }
  .item2 {
    background-color: #CBCBCB;
  } .item3 {
    background-color: #E4E4E4;
  }