.slick {
    background-color: var(--primary-dark);
    width: 60%;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: 3px 0px 60px 0px #182463;
    justify-content: space-between;
    padding: 32px;
}
.shadow{
    width: 100%;
    height: 100%;
    position: fixed; /* Ensure it covers the whole viewport */
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.22); /* Add a semi-transparent background for the shadow effect */
    z-index: 1; /* Ensure this is lower than .slick */
}

.title {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}
.linksIcon{
    width: 25px;
    height: 25px;
}
.linksText{
    font-size: 14px;
}
.cancelBtn{
    font-size: 14px;
}
.closer {
    display: grid;
    place-items: center;
}

.launch {
    border-radius: 1.614px;
    background-color: #3A457F;
    padding: 15px 32px;
    font-size: 14px;
    width: 100%;
    margin: 32px 0px;
}

.control {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    grid-gap: 12px;
    margin: 24px 0px;
    cursor: pointer;
    align-items: center;
}

@media screen and (max-width:700px) and (min-width:400px) {
    .linksText,.cancelBtn,.launch{
        font-size: 12px;
    }
    .BrandLogo{
        width: 160px;
        height: 70px;
    }
}
@media screen and (max-width:399px) {
    .linksText,.cancelBtn{
        font-size: 11px;
    }
    .launch{
        font-size: 11px;
        padding: 15px 27px;
    }
    .BrandLogo{
        width: 125px;
        height: 60px;
    }
}